body, .bodya {
    background-color: rgb(222, 221, 221);
}

.header{
    text-align: center;
    margin-top: 50px;
    /* font-weight: ; */
}
.header-project {
    text-align: center;
    /* margin-top: 50px; */
    /* font-weight: ; */
}

form, .form {
    padding: 40px 32px;
    background-color: #ffffff;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 5px gray;
  }

.input {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #8d8d8d;
    resize: vertical;
}


/* input, select, textarea {
    
    
} */

.form-container div label {
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}


/* .form-container {
    display: flex;
    flex-direction: column;
} */

/* .form-container div {
    display: flex;
    flex-direction: column;
} */

.form-container div button {
    margin-top: 20px;
    float: right;
    /* margin-bottom: 50px ; */
    background-color: black;
    color: #ffffff; 
    width: fit-content; 
    border-radius: 50px;
    border-style: none;
    padding: 7px;
    padding-left: 35px;
    padding-right: 35px;
    /* display: flex;
    align-self: end; */
    font-weight: bold;
    cursor: pointer;
}



.form-container div button:hover {
    background-color: rgb(52, 52, 52);
    color: #ffffff; 
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: auto; */
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-color: aqua; */
    /* align-items: center; */
    /* height: 100vb; */
}

/* .date {
    display: flex;
    flex-direction: column;
} */

.profile {
    margin: 10px;
    background-color: white;
    text-align: center;
    /* margin: auto;  */
    /* max-width: 300px;  */
    border-radius: 10px; 
    box-shadow: 0 0 5px gray;
    
}
/* .profile img {
    margin: auto; 
} */

.profile img {
    margin-top: 20px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
}

.profile-text {
    /* text-align: left;  */
    padding: 15px;
    font-size: small;
    text-align: justify;
}

.profile-text h4 a{
    text-decoration: none;
    list-style: none;
    border-style: none;
    color: black;
}

.profile-text button {
    text-decoration: none;
    list-style: none;
    border-style: none;
    /* background-color: white; */
}

.profile-text button:hover {
    /* background-color: rgb(212, 212, 212); */
    color: #a7a6a6; 
}
.profile-text h4 a:hover {
    /* background-color: rgb(52, 52, 52); */
    color: #4f4f4f; 
}

.profile-text span {
    color: #8d8d8d;
}
/* .profile-text span {
    color: #8d8d8d;
} */

i {
    margin: 5px;
    font-size: 20px;
}

.project {
    background-color: #8d8d8d;
}

.abutton {
    margin-top: 20px;
    float: center;
    background-color: black;
    color: #ffffff; 
    width: fit-content; 
    border-radius: 50px;
    border-style: none;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}

.detail-header {
    /* margin-top: 50px; */
    margin-bottom: 50px;
}

.content-detail {
    background-color: #ffffff;
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10px; 
    box-shadow: 0 0 5px gray;
}

.detail-desc {
    text-align: justify;
}

.detail-img {
    border-radius: 5px; 
    box-shadow: 0 0 5px white;
    
}

.modal-button {
    background-color: #ffffff;
}